################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharpTraining/bin/Debug/net6.0
/CSharpTraining/.vs/CSharpTraining
/CSharpTraining/obj
/CSharpSecondSession/bin/Debug/net6.0
/CSharpThirdSession/bin/Debug/net6.0
/CSharpThirdSession/obj/Debug/net6.0
/CSharpFourthSession/bin/Debug/net6.0
/CSharpFourthSession/obj
